@font-face {
	font-family: 'Lato-Bold';
	src: url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
	font-family: 'Lato-Reg';
	src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}