// font-sizes
$large-font: 48px;
$big-font: 32px;
$middle-font: 24px;
$normal-plus-font: 20px;
$normal-font: 18px;
$little-font: 16px;

// colors

$color-grey: #F6F6F6;
$color-dark-grey: #EDEDED;
$color-dark-grey-plus: #DADADA;
$color-blue: #0085FF;
$color-black: #333333;
$color-black-dark: #292929;
$color-black-middle: #3B3B3B;
$color-white: #fff;
